;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies []

 :builds
 {:app
  {:main app.core/main
   :target :node-script
   :compiler-options {:infer-externs :auto}
   :output-to "dist/app.js"
   :devtools
   {:after-load app.core/start!
    :before-load app.core/stop!}}}}
