;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies [[cider/cider-nrepl "0.22.4"]]

 :nrepl {:port 3333}

 :builds
  {:app
    {:main app.core/main
     :target :node-script
     :compiler-options {:infer-externs :auto}
     :output-to "dist/app.js"
     :devtools
     {:after-load app.core/start!
      :before-load-async app.core/stop!}}
  :test
    {:target :node-test
     :output-to "dist/tests.js"
     :autorun true}}}
